<div>
  <div>
    <hr>
    <h1>
      <%= @the_board.name %>
    </h1>
<hr>


<div>
  <div>
    <h2>
      Add a new post
    </h2>

    <form action="/modify_board/<%= @the_board.id %>"  method="post" >
      <div>
        <label for="name_box"> Title </label>
        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="body_box"> Body </label>
        <input type="text" id="body" name="body">
      </div>

      <div>
        <label for="expired"> Expires on </label>
        <input type="date" id="expired" name="expired">
      </div>



      <button>
        Add post
      </button>
    </form>
  </div>
</div>

<hr>

<h2> Active post </h2>
 
      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_board.created_at) %> ago
      </dd>
